* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --background-dark: #222;
    --text-light: #F1F1F1;

    --yellow-500: #F0D770;

    --orange-100: #FAF7F2;
    --orange-300: #EB8F6E;
    --orange-400: #ED794E;
    --orange-600: #FA6A34;
    --orange-800: #EB3E00;

    --primary-500: #FAF7FF;
}

body {
    background-color: var(--background-dark);
    font-family: 'Lilita One';
}

main {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: var(--text-light);
}

form {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

input {
    margin-bottom: 2rem;
    width: 20rem;
    padding: .5rem;
    outline: none;
    border: .1px solid var(--orange-300);
    border-radius: .4rem;
    color: var(--text-light);
    background-color: var(--background-dark);
}

input::placeholder {
    color: var(--orange-400);
}

/* input::placeholder {
    color: var(--text-light);
} */

.cadastrar {
    border: 0px;
    padding: 1rem 1rem;
    background-color: var(--orange-400);
    border-radius: .4rem;
    color: var(--text-light);
    font-weight: 400;
    font-family: 'Roboto Slab';
    font-size: 1rem;
    transition: .4s ease-in-out;
    cursor: pointer;
}

.cadastrar:hover {
    font-weight: 700;
}

.back {
    margin-top: 2rem;
    border: 0;
    background-color: transparent;
    font-size: 1rem;
    font-family: 'Roboto Slab';
    font-weight: 700;
    color: var(--text-light);
    scale: 1;
    transition: .4s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.back:hover {
    scale: 1.1;
}