body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-dark);
    font-size: 16px;
    overflow-x: hidden;
}

:root {
    --background-dark: #222;
    --text-light: #F1F1F1;

    --yellow-500: #F0D770;

    --orange-100: #FAF7F2;
    --orange-400: #ED794E;
    --orange-600: #FA6A34;
    --orange-800: #EB3E00;

    --primary-500: #faf7ff;
}

#container {
    width: 100vw;
}

#header-menu {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    background-color: var(--orange-800);
}

.wrapper {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper > ul {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: 'Roboto Slab', serif;
    color: var(--text-light);
}

.wrapper > ul > li {
    font-weight: 400;
    scale: 1;
    transition: .4s ease-in-out;
    cursor: pointer;
}

.wrapper > ul > li:hover {
    scale: 1.2;
    font-weight: 700;
}

.title {
    font-size: 2rem;
    font-family: 'Lilita One', cursive;
    color:  var(--text-light);
    position: absolute;
}

#carrossel {
    width: 100vw;
    height: 90vh;
}

.slides {
    display: flex;
    width: 600%;
    height: 100%;
}

input {
    display: none;
}

.slide {
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide01:checked ~ .first {
    margin-left: 0;
}

#slide02:checked ~ .first {
    margin-left: -20%;
}

#slide03:checked ~ .first {
    margin-left: -40%;
}

#slide04:checked ~ .first {
    margin-left: -60%;
}

#slide05:checked ~ .first {
    margin-left: -80%;
}

.navigation {
    position: absolute;
    bottom: 8rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.navigation label {
    width: 4.2rem;
    height: 1rem;
    border: 2px solid var(--text-light);
    margin: .4rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.navigation > label:hover {
    background-color: var(--text-light);
}

#about-us {
    width: 100vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.about-us-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.about-us-text {
    /* background-color: var(--orange-200); */
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.about-us-text-content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-family: 'Lilita One', cursive;
    color: var(--text-light);
}

.about-us-background {
    height: 100%;
    width: 50%;
    background-image: url(../assets/about-us-background-corte.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#address {
    width: 100vw;
    height: 40vh;
}

#address-content {
    width: 100%;
    display: flex;
    align-items: center;
}

#map {
    width: 50%;
    height: 24rem;
}

#info {
    color: var(--text-light);
    font-family: 'Roboto Slab', serif;
    padding-left: 8rem;
}

#info > h3 {
    font-size: 1.5rem;
}

#our-team {
    height: 80vh;
    display: flex;
    justify-content: center;
}

#our-team-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.members {
    width: 8rem;
    height: 8rem;
    margin: 0 2rem;
    border: .1rem solid var(--orange-400);
    border-radius: 50%;
}

#footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange-800);
}

#footer-content > p {
    font-size: 1rem;
    color: var(--text-light);
    font-family: 'Roboto Slab', serif;
}